<a href="https://colab.research.google.com/github/semorrall/colab_uploads/blob/main/stephanie_sandbox/Copy_of_biol300_hw5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# make sure to include your imports here!
import pandas as pd
import numpy as np

# Problem 1. Extracting information from a data frame (15 points)

Adapted from Chapter 9 of 'Computing Skills for Biologists' text.

We will be looking at data from Fauchald et al. (2017), in which they tracked the population size of various herds of caribou in North America over time, and correlated population cycling with the amount of vegetation and sea-ice cover. For now, we will just consider the population size alone. 

Note: Since this data is publicly hosted by the authors of the textbook, we can just link to this data as I show below (no need to mount your Google drive!). In general, I'm not hosting data publicly for this course unless I have explicit permission from the researchers who collected the data. But in this case, the authors of 'Computing Skills for Biologists' have already done that for us, so we are good to use these public links!

In [ ]:
path = "https://raw.githubusercontent.com/CSB-book/CSB/master/data_wrangling/data/FauchaldEtAl2017/pop_size.csv"
df = pd.read_csv(path, delimiter="\t")
df.head()

  Herd  Year  Pop_Size
0  WAH  1970    242000
1  WAH  1976     75000
2  WAH  1978    107000
3  WAH  1980    138000
4  WAH  1982    217863

A. Take a look at the structure of the data, and explain why the data are in fact tidy. That is, what is the 'observation' that constitutes each row?

B. Let's first get a sense of which years this study was conducted. Report the minimum and maximum value for `Year` in this data frame.

C. Let's also get a sense of how many herds of caribou they looked at. Report the number of differnet herd names that appear in this data frame. First approach this by looping through the values of `df["Herd"]` and keeping track of any new entries. Then as a shortcut, try using `df["Herd"].unique()` to make sure you ge tthe same answer.

D. List the three years with the largest population size for the herd called `WAH`.

E. For each herd, compute the average population size. Which herd is largest on average? Which herd is smallest on average? 

F. For each herd, we may want to get a sense of the population size by normalizing to the average for that herd. Add a new column called `Relative_Pop` that should be 1 when the population in that year is exactly as large as the mean population, a value of 2 if the population is twice the mean, 0.5 if it's half of the mean, etc.). To add a new column to a data frame, you can call somthing like:

> `df["new column names"] = values_of_intererst`

## Problem 2. Making new data frames from exisiting data (20 points)

Adapted from Exercise 6.6.2 from 'Computing Skills for Biologists' text.

Fox et al. (2016) studied the effects on the outcome of papers of the genders
of the handling editors and reviewers. For the study, they compiled a database
including all the submissions to the journal Functional Ecology from 2004 to
2014 . Their data are reported in the link below. Besides the effects
of gender and bias in journals, the data can be used to investigate whether
manuscripts having more reviewers are more likely to be rejected.

A. Import the data using pandas, take a look at the structure of the data, and explain why its tidy.

In [ ]:
path = 'https://raw.githubusercontent.com/CSB-book/CSB/master/scientific/data/Fox2015_data.csv'
df = pd.read_csv(path)
df.head()

   MsID  Year HandlingEditorSex  ... ReviewerAgreed ReviewerScore  FinalDecision
0     1  2004                 m  ...              1             1              1
1     1  2004                 m  ...              1             0              1
2     2  2004                 m  ...              1             2              1
3     2  2004                 m  ...              1             2              1
4     3  2004                 m  ...              1             2              0

[5 rows x 9 columns]

B. For each manuscript (i.e. unique MsID), count the number of reviewers there were (where ReviewerAgreed equals `1`). Save this information as a new data frame, with columns `MsID` and `NumberReviewers`, as well as the corresponding `FinalDecision` column. This new data frame contains information on a manuscript basis, rather than a reviewer basis. This will be helpful as we are trying to assess how number of reviewers relates to the rate of rejection.

As a tip, below I show how you can make a new data frame by specifiying the column names and then appending a row of data to the otherwise empty dataframe.

In [ ]:
# specify the column names we wish our dataframe to have
column_names = ["FirstName", "LastName", "Department"]

# instantiate data frame with those column name 
df_test = pd.DataFrame(columns = column_names)

# define a new row of data, encoded as a dictionary
new_row = {"FirstName": "Suzannah", "LastName": "Beeler", "Department": "QBE"}

# add data row to the data frame and take a look at it
df_test = df_test.append(new_row, ignore_index = True)
df_test

  FirstName LastName Department
0  Suzannah   Beeler        QBE

C. With this data frame from part (B), we can now assess if/how the rate of rejection changes with the number of reviewers. The column `FinalDecision` contains `1` for rejection, and `0` for acceptance. Compile a table measuring the probability of rejection given the number of reviewers, including information about how many manuscripts had a given number of reviewers. Save this information in a final data frame, with columns `NumberReviewers` and `NumberManuscripts` and `RejectionRate`.

D. Display your final data frame. Do you think having more reviewers increase the probability of being rejected?

# Problem 3. Recreating a plot (15 points)

Adapted from Exercise 9.8.1 from 'Computing Skills for Biologists' text.

Martin (2015) studied songbirds in temperate and tropical environments. He
showed [in this figure](https://github.com/CSB-book/CSB/blob/master/data_wrangling/data/Martin2015_figure2.pdf) (panel A) that peak growth rate is higher in species suffering higher nest predation risk, and is lower in tropical species with the same level of risk as temperate species. In that same figure (panel B) he reported that nestling period covaries with growth rate, with tropical species having shorter nestling periods (for the same growth rate) than temperate species.

Regretably, the column names in the data file are are hard to interpret, but I was able to track down the following descriptions for each of the comlumns:

- Species – Genus_species 
- nstldpr – daily nest predation rate during the nestling period 
- nstl – length of the nestling period (hatch to fledge in d) 
- krate – traditional estimate of peak growth rate (Ki) for mass 
- kwing – traditional estimate of peak growth rate (Ki) for wings
- PropWCfldg – Proportion of adult size for wing chord length at fledging  
- Propmassfldg – Proportion of adult mass for nestling mass at fledging 
- trips – total number of feeding trips/hr 
- tripsnstl – number of feeding trips/hr/nestling 
- cs – clutch size (number of eggs) amort – arcsin-transformed annual adult mortality probability 
- lmas – log-transformed body mass 
- aerial – aerial foragers = 1, others = 0 
- regurg – parents that feed by regurgitation = 1, others = 0 
- site – field site of data collection; 1 = Arizona, 2 = Venezuela, 3 = Malaysia

Using this data (loaded in below) and the information above, recreate the plots in the figure. Note, these plots were made in a different programming language, so don't worry about making it look *exactly* the same. In fact, use this opportunity to make your own decisions about how to represent the data. For now, don't worry about computing or displying the trendlines -- we will learn how to do that later!

In [ ]:
path = 'https://raw.githubusercontent.com/CSB-book/CSB/master/data_wrangling/data/Martin2015_data.csv'
df = pd.read_csv(path, delimiter="\t")
df.head()

                  species      nstldpr      nstl  ...  aerial  regurg site
0  Empidonax_occidentalis       0.0302  15.04500  ...       1       0    1
1          Vireo_plumbeus       0.0422  13.40000  ...       0       0    1
2            Vireo_gilvus       0.0216  13.43700  ...       0       0    1
3           Parus_gambeli  0.007380891  21.35714  ...       0       0    1
4      Turdus_migratorius       0.0301  14.66700  ...       0       0    1

[5 rows x 15 columns]

## Problem 4. Making your own plots (30 points)

Adapted from Exercise 9.8.2 from 'Computing Skills for Biologists' text.

Bolstad et al. (2015) studied the allometric relationships between wing length
of Drosophilidae and the length of the L2 vein that runs across the wing.
They measured more than 20,000 individuals, belonging to 111 species.

A. Produce a scatter plot for how the log of wing size relates to the log of L2 length. (The values in the table are already the logged values, but they are not labeled as such). Color the data points by the sex of the files. 

B. From your plot, what do you conclude about the relationship between wing size and L2 vein length? Are there any noticeable difference between male and female flies?

C. Add two columns to the data frame, where you will store the linear values of wing size and L2 length. Specifically, used `np.exp()` to exponentiate the values from the original columns. 

D. Reproduce your plot from part B, this time with these linearized values.

E. What do you think was the value of plotting the log values instead?

F. From your exploration so far, is there a trait you think varies between male and female flies? Make a plot to compare a trait of interest as it depends on the `Sex` category of the data frame and comment on what you conclude. Explain why you chose the plot type that you did. (Hint: No bar graphs!)

In [ ]:
path = "https://raw.githubusercontent.com/CSB-book/CSB/master/data_wrangling/data/Bolstad2015_data.csv"
df = pd.read_csv(path)
df.head()

     Species           ID       Date Sex  WingSize  L2Length
0  D_acutila  ACU1006.TIF  24_Jul_01   F  0.131122  0.497262
1  D_acutila  ACU1009.TIF  24_Jul_01   F  0.136088  0.487972
2  D_acutila  ACU1010.TIF  24_Jul_01   F  0.195393  0.540137
3  D_acutila  ACU1013.TIF  24_Jul_01   F  0.277329  0.646360
4  D_acutila  ACU1018.TIF  24_Jul_01   F  0.151531  0.497758

# How long did this take? 

With a new course and new assignments, I want to be conscientious with how much time this course takes. Please let me know how long this took, so I can adjust future homeworks if needed.

# References

If you referenced any external sources for completing this homework, please list them below. (Just the links are fine.)

# Submitting your homework

Please make sure to state what each group member contribute and have each group member "sign off" that they agree they are satisfied with the final submission of this homework.

You will submit this homework via GitHub. Unless you have an approved extension or opt to submit the homework late (with a 10% deduction per day), your homework will be graded based on what is submitted on GitHub at the time of the deadline. So don't forget to push!